
@media screen and (max-width: 1200px){

  .logo,.icon.home,.title-sub-icon {
    margin-left:10px;
  }

  .icon-box li,.icon-box li:first-child {
    width: 20%;
  }


}

@media screen and (max-width: 1024px) {
  header {
    position: fixed;
    left:0;
    top:0;
  }

  .m-header {
    display: block;
  }

  .menu-list {
    display: none;
  }
  .wrapper {
    margin-top:0px;
    padding-top: 93px;
  }

  .icon-quickmenu {
    transform: rotate(90deg);
  }

  .icon-box li {
    width:25%;
  }

  .icon-box li:first-child {
    width:100%;
    height: 45px;
    border-right: 0;
    border-bottom: 1px solid #a6a6a6;
  }

  .contents-wrapper, .notice .title, .notice .contents {
    border: 0;
  }
  .contents-wrapper>article {
    width: 50%;
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
  }
  .realtime, .notice {
    border-left: 1px solid #a6a6a6;
  }
  .caution, .twitter {
    border-right: 1px solid #a6a6a6;
  }
  .notice, .twitter {
    margin-top: 20px;
  }

}

@media screen and (max-width: 767px) {

  .logo {
    width:80%;
  }

  .map {
    height: 70vh;
  }

  .icon-box {
    margin-top: 8px;
  }

  .icon-box li {
    height: 45px;
  }


  .icon-box li>a::before{
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 5px;
  }


  .contents-wrapper {
    margin-top: 8px;
    margin-bottom:0px;
  }
  .contents-wrapper article {
    width: 100%;
    border: 1px solid #a6a6a6;
    margin-bottom:8px;
  }

  .realtime,.caution,.notice,.twitter {
    margin :0;
  }


  .contents-title, .contents-inner {
    border:0;
  }

  .banner {
    height: 95px;
    margin-bottom: 8px;
  }
  .banner-title {
    width: 100%;
    height: 45px;
  }
  .banner-title span {
    font-size: 16px;
    font-weight: bold;
  }
  .banner-container {
    width: calc(100% - 96px);
  }

  .tab-button{
    display: block;
  }

  .fa-bars-arrow {
    display: none;
  }

  aside {
    position: static;
  }

  #sidebar{
    position: absolute;
    width:100%;
    z-index: 102;
  }

  #container {
    height: 82vh;

  }


  .title-sub-inner{
    padding-top: 15px;
  }

  .popup {
    left:10%;
    width: 80%;
    height: 250px;
  }

  .popup-content {
    height: 200px;
  }

  /* 공지사항 */
  .board-list td, .board-list th {
    padding : 5px;
  }


}

@media screen and (max-width: 480px) {

  .icon-box li>a {
    font-size:13px;
  }
  /* 안노라 작성 */
  .search {
    height: auto;
    ;
    padding: 10px;
  }
  .search-align {
    position: relative;
    right: 0;
  }
  .notice-select, .notice-input, .notice-btn {
    width: 100%;
  }
  .notice-input {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 360px) {

  .icon-box li>a::before{
    width: 25px;
    height: 25px;
  }


  .icon-box li>a {
    font-size:12px;
  }

}

@media screen and (min-width: 320px) {

}
